.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(69, 96, 124);
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 400px;
    margin: 20px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
  }